.detailsPageContainer {
  display: flex;
  flex-direction: column;
}

.productContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 400px;
}

.infoContainer {
  background-color: #f9f8fe;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.description {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}
